$yellow: #FFE600;
$placeholderText: #999999;

.searchBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: auto;
    background-color: $yellow;
    height: 5vh;

    .input-container {
        width: 50%;

        .input-item {
            width: 100%;
            -webkit-appearance: none;
            outline: none;
            border: none;
            height: 3vh;

            &::placeholder {
                color: $placeholderText;
                padding: 1em;
            }
        }
    }


}